<form>
<div>
  <label for="txtTitolo">Cognome</label>
  <input type="text" id="txtCognome" required [(ngModel)]="cliente.cognome" name="titolo">
</div>

<div>
  <label for="txtAutore">Nome</label>
  <input type="text" id="txtNome" required [(ngModel)]="cliente.nome" name="autore">
</div>

<div>
  <label for="txtTesto">Tessera</label>
  <input type="number" id="txtTessera" required [(ngModel)]="cliente.tessera" name="testo">
</div>

<button type="button" (click)="add()">Aggiungi cliente</button>
</form>
