<p>elenco works! {{numerolike}}</p>
With new style
<ol>
  @for (c of clienti|async; ; track c.id; let i = $index) {
  <app-dettaglioclienteperelenco [cliente]="c" (cancella)="delete(c)">

  </app-dettaglioclienteperelenco>
  }@empty {<li>nessun cliente presente</li>}
</ol>
With old style
<ol>

  <div *ngFor="let c of clienti|async; let num=index">
    <app-dettaglioclienteperelenco [cliente]="c" (cancella)="delete(c)">

    </app-dettaglioclienteperelenco>

  </div>
</ol>

<button (click)="mipiace()">Mi piace</button>

<app-add-cliente (addcliente)=add($event)></app-add-cliente>
